.topnav {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  padding-bottom: 100px;
  font-size: 16px;
  color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

p.large {
  line-height: 1.5;
}

.border-radius-box {
  width: 80%;
  height: 80%;
  background-color: #333333;
  margin: 10px auto;
  text-align: left;
}

.centerblock{
    background-color: #333333;
    padding: 30px 30px 30px 30px;
}

ul { display: inline-block; vertical-align: top;
padding: 0px 80px;
margin-bottom: 30px; }

li:not(:last-child) {
    margin-bottom: 2px;
}

.strong {
  font-weight: bolder;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
